.wait {
  color: red;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 12px;
}

.btnTweet {
  display: flex;
  flex-direction: row;
  flex-grow: inherit;
  margin: 5px;
}

.adviceNext:disabled,
.disabled {
  pointer-events: none;
  background-color: #e0e0e0 !important;
  border-color: #a0a0a0 !important;
  color: #8a8a8a !important;
}
