.showDiv{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  border: 1px solid #3d3d3d;
  margin-top: 5px;
}

.elems{
  /* width: 10px; */
  /* min-width: 30px; */
  /* height: 60px; */
  color: white;
  border: 0.2px solid white;
  text-align: center;
}

.unsorted{
  background-color: gray;
}
.sorted{
  background-color: green;
}
.pivot{
  background-color: #008f94;
}
.activePivot{
  background-color: #969600;
}
.comparing{
  background-color: darkred;
}