.divMainApps {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.divMainApps .appLink {
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  margin: 5px;
  padding: 5px;
  border: 2px solid #1d1d1d;
  border-radius: 5px;
  background-color: rgba(61, 61, 61, 0.8470588235);
  color: #cedfee;
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  align-self: center;
}
.divMainApps .appLink:hover {
  cursor: pointer;
  background-color: rgba(126, 126, 126, 0.8470588235);
}
.divMainApps .appLink .appIcon {
  font-size: 25px;
}