/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  max-height: 70vh;
  overflow-y: auto;
  margin: 0 auto;
  /* The actual timeline (the vertical ruler) */
  /* tm-Container around tm-content */
  /* Place the tm-container to the left */
  /* Place the tm-container to the right */
  /* The actual tm-content */
  /*
  *  SCROLLBAR
  */
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  height: 100vh;
  background-color: #7e7e7e59;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.timeline .tm-container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  max-width: 50%;
  /* The circles on the timeline */
}

.timeline .tm-container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: #7e7e7e59;
  border: 4px solid #c4c4c4;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.timeline .left {
  left: 0;
  /* Add arrows to the left tm-container (pointing right) */
}

.timeline .left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #7e7e7e59;
}

.timeline .right {
  left: 50%;
  /* Add arrows to the right tm-container (pointing left) */
  /* Fix the circle for tm-containers on the right side */
}

.timeline .right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent #7e7e7e59 transparent transparent;
}

.timeline .right::after {
  left: -16px;
}

.timeline .tm-content {
  padding: 20px 30px;
  background-color: #7e7e7e59;
  position: relative;
  border-radius: 6px;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}

.timeline::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #fafafa;
  border-radius: 10px;
}

.timeline::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
  background-color: #fafafa;
}

.timeline::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.2, #a1a1a1), color-stop(0.45, #747474), color-stop(0.66, #3a3a3a));
}

/* Media queries - Responsive timeline on screens less than 350px wide */
@media screen and (max-width: 350px) {
  .timeline {
    /* Place the timelime to the left */
    /* Full-width tm-containers */
    /* Make sure all circles are at the same spot */
    /* Make all right tm-containers behave like the left ones */
  }
  .timeline::after {
    left: 31px;
    height: 100vh;
  }
  .timeline .tm-container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
    /* Make sure that all arrows are pointing leftwards */
  }
  .timeline .tm-container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent #7e7e7e59 transparent transparent;
  }
  .timeline .left::after, .timeline .right::after {
    left: 15px;
  }
  .timeline .right {
    left: 0%;
  }
}
/*# sourceMappingURL=timeline.css.map */