.wordle{
  margin: 0 auto;
  justify-content: center;
  text-align: center;
  h5{
    font-size: 14px;
    font-weight: bold;
  }
  select{
    font-size: 12px;
  }
  .instructions{
    font-size: 12px;
  }
  .hints{
    font-size: 12px;
  }
  .guess{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    justify-content: center;
  }
  .letter{
    width: 40px;
    height: 40px;
    font-size: 25px;
    margin: 2px;
    border: 1px solid darkblue;
    border-radius: 2px;
    text-align: center;
    justify-content: center;
    align-content: center;
    color: #0f0050;
  }
  .btnNextWord{
    margin-top: 5px;
    margin-bottom: 10px;
  }
  .null{
    background-color: rgba(248, 248, 248, 0.849);
  }
  .active{
    background-color: #e1eefa81;
  }
  .far{
    background-color: rgba(209, 143, 143, 0.795);
    color: white;
  }
  .close{
    background-color: rgba(255, 255, 0, 0.795);
    color: #0f0050;
  }
  .exact{
    background-color: rgba(145, 238, 145, 0.795);
    color: #0f0050;
  }
  .failed{
    color: #ff8282;
    font-weight: bold;
  }
  .correct{
    color: #0edd0e;
    font-weight: bold;
  }
  .inputs{
    margin-top: 5px;
    display: flex;
    justify-content: center;
  }
  .textInput{
    height: 30px;
  }
  .btnEnter{
    margin-left: 5px;
  }
  .compWord{
    font-weight: bold;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
}
