.profileDiv {
  display: flex;
  text-align: center;
  align-items: center;
  vertical-align: middle;
  justify-content: center;
  min-height: 60vh !important;
}
.profileDiv span {
  font-family: "Courier New", Courier, monospace !important;
  font-size: 30px !important;
  font-weight: bold;
}