.mainContent {
  width: 100%;
}
.mainContent .svg-inline--fa {
  transform: scale(1.5);
  transition: 250ms;
}
.mainContent .svg-inline--fa:hover {
  color: aquamarine;
  transform: scale(1.1);
  transition: 250ms;
}

@media (min-width: 576px) {
  .navbar-expand-sm {
    flex-wrap: nowrap;
  }
  .mainContent {
    display: flex;
  }
}
@media (max-width: 576px) {
  .navbar-expand-sm {
    flex-wrap: nowrap;
  }
  .mainContent {
    display: flex;
    justify-content: space-between !important;
    flex-wrap: nowrap;
  }
  .container-fluid {
    flex-wrap: wrap !important;
  }
}
code {
  text-align: center;
  align-self: center;
}