.accordion-button{
  --bs-accordion-btn-icon: url("./btn-icon.svg") !important;
  --bs-accordion-btn-active-icon: url("./btn-icon.svg") !important;
}
.accordion-item{
  background-color: #74747454 !important;
  color: #c5c5c5 !important;
  border: 1px #fff solid;
  &:hover{
    background-color: #747474a2 !important;
    transform: scale(1.005);
    transition: all 250ms ease;
  }
  .accordion-button{
    background-color: #74747454 !important;
    border-color: none !important ;
    &::after, &:focus, &:not(.collapsed){
      box-shadow: none !important;
      outline: none !important;
      color: #0c0c0c !important;
    }
    &.collapsed{
      color: #272727 !important;
    }
  }
}