.accordion-button {
  --bs-accordion-btn-icon: url("./btn-icon.svg") !important;
  --bs-accordion-btn-active-icon: url("./btn-icon.svg") !important;
}

.accordion-item {
  background-color: rgba(116, 116, 116, 0.3294117647) !important;
  color: #c5c5c5 !important;
  border: 1px #fff solid;
}
.accordion-item:hover {
  background-color: rgba(116, 116, 116, 0.6352941176) !important;
  transform: scale(1.005);
  transition: all 250ms ease;
}
.accordion-item .accordion-button {
  background-color: rgba(116, 116, 116, 0.3294117647) !important;
  border-color: none !important;
}
.accordion-item .accordion-button::after, .accordion-item .accordion-button:focus, .accordion-item .accordion-button:not(.collapsed) {
  box-shadow: none !important;
  outline: none !important;
  color: #0c0c0c !important;
}
.accordion-item .accordion-button.collapsed {
  color: #272727 !important;
}