footer {
  flex-shrink: 0;
  text-align: center;
  background-color: rgba(39, 39, 39, 0.5215686275);
  color: #9c9c9c;
  bottom: 0;
}
footer a {
  text-decoration: none;
}
footer .socialMediaLinks {
  padding: 0 5px;
  cursor: pointer;
  color: #9c9c9c;
}
footer .fa-facebook:hover, footer .fa-stack-overflow:hover, footer .fa-linkedin:hover, footer .fa-github:hover {
  transform: scale(1.2);
  transition: 250ms;
}
footer .fa-facebook:hover {
  color: #7878f0;
}
footer .fa-stack-overflow:hover {
  color: rgba(151, 129, 0, 0.8470588235);
}
footer .fa-linkedin:hover {
  color: rgba(0, 116, 151, 0.8470588235);
}
footer .fa-github:hover {
  color: #e774d8;
}