.kenyaDiv {
  .tableDiv {
    width: 100%;
    max-height: 300px;
    overflow: auto;
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
      td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 5px;
      }
      
      tr:nth-child(even) {
        background-color: #dddddd;
      }
      thead tr {
        position: sticky;
        top: 0;
        background-color: #eeeeee;
      }

      tbody tr:hover{
        background-color: #d3e1ff;
      }
    }
  }
}

.chartDiv{
  width: 90vw;
  height: 70vh;
  min-width: 250px;
  min-height: 250px;
}