.results { grid-area: results; min-height: 50px;}
.calc-inputs { grid-area: calc-inputs; min-height: 24px;}
.top { grid-area: top; }
.nums1 { grid-area: nums1; }
.nums2 { grid-area: nums2; }
.nums3 { grid-area: nums3; }
.down1 { grid-area: down1; }
.down2 { grid-area: down2; }
.side-down {grid-area: side-down;}

.calcGrid {
  display: grid;
  grid-template-areas:
    'results results results results results results'
    'calc-inputs calc-inputs calc-inputs calc-inputs calc-inputs calc-inputs'
    'top top top top top top'
    'nums1 nums1 nums1 nums1 nums1 nums1'
    'nums2 nums2 nums2 nums2 nums2 nums2'
    'nums3 nums3 nums3 nums3 nums3 nums3'
    'down1 down1 down1 down1 down1 side-down'
    'down2 down2 down2 down2 down2 side-down';
  gap: 10px;
  min-width: 250px;
  width: 50%;
  background-color: #1f1f1f;
  padding: 10px;
  margin: 0 auto;
  border-radius: 5px;
}
.calcGrid > div{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.results, .calc-inputs {
  display: block !important;
  color: #e8f2fc;
  text-align: right;
}
.results {
  background-color: #3b3b3b;
  padding: 2.5px;
}
.calc-inputs {
  background-color: #505050;
  padding-right: 2.5px;
}

.btn {
  width: 24% !important;  
  transition: 1s ease;
}
#enter{
  width: 99% !important;
  height: 99% !important;
}
.btn:hover{
  border-radius: 10px;
}
.btn:visited, .btn:focus{
  box-shadow: none !important;
}
.btn-warning:hover{
  background-color: #cca01c;
}
