.calcGrid {
  display: grid;
  grid-template-areas: "results results results results results results" "calc-inputs calc-inputs calc-inputs calc-inputs calc-inputs calc-inputs" "top top top top top top" "nums1 nums1 nums1 nums1 nums1 nums1" "nums2 nums2 nums2 nums2 nums2 nums2" "nums3 nums3 nums3 nums3 nums3 nums3" "down1 down1 down1 down1 down1 side-down" "down2 down2 down2 down2 down2 side-down";
  gap: 10px;
  min-width: 250px;
  width: 50%;
  max-width: 400px;
  background-color: #1f1f1f;
  padding: 10px;
  margin: 0 auto;
  border-radius: 5px;
}
.calcGrid .results {
  grid-area: results;
}
.calcGrid .calc-inputs {
  grid-area: calc-inputs;
}
.calcGrid .top {
  grid-area: top;
}
.calcGrid .nums1 {
  grid-area: nums1;
}
.calcGrid .nums2 {
  grid-area: nums2;
}
.calcGrid .nums3 {
  grid-area: nums3;
}
.calcGrid .down1 {
  grid-area: down1;
}
.calcGrid .down2 {
  grid-area: down2;
}
.calcGrid .side-down {
  grid-area: side-down;
}
.calcGrid div {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.calcGrid .btn {
  width: 24% !important;
  transition: 1s ease;
}
.calcGrid .btn-primary {
  background-color: #3162ac;
}
.calcGrid .btn-warning {
  background-color: #cead49;
}
.calcGrid .btn-info {
  background-color: #1bb3d1;
}
.calcGrid .btn:hover {
  border-radius: 10px;
}
.calcGrid .btn:visited, .calcGrid .btn:focus {
  box-shadow: none !important;
}
.calcGrid .btn-primary:hover {
  background-color: #1c6adf;
}
.calcGrid .btn-warning:hover {
  background-color: #ddae22;
}
.calcGrid .btn-info:hover {
  background-color: #57adbe;
}
.calcGrid .results, .calcGrid .calc-inputs {
  display: block !important;
  color: #e8f2fc;
  text-align: right;
  overflow: auto;
  overflow-wrap: break-word;
}
.calcGrid .results {
  background-color: #3b3b3b;
  padding: 2.5px;
  min-height: 50px;
}
.calcGrid .calc-inputs {
  background-color: #505050;
  padding-right: 2.5px;
  min-height: 24px;
}
.calcGrid #enter {
  width: 99% !important;
  height: 99% !important;
  font-size: larger;
}