#sectionRegister {
  width: 90%;
  min-width: 250px;
}
#sectionRegister > p, #sectionRegister > h5 {
  text-align: center;
}

.formRegister {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 70%;
  max-width: 400px;
}
.formRegister .btn {
  margin-top: 8px;
}
.formRegister .btnShowPassword {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.formRegister .errMsg {
  display: block;
}
.formRegister .showElem {
  display: block;
}
.formRegister .hideElem {
  display: none;
}
.formRegister #uidnote, .formRegister #passnote, .formRegister #matchnote {
  background-color: #333333;
  color: aliceblue;
}