.aboutDiv {
  color: #cecece;
  text-align: center;
}
.aboutDiv p {
  text-align: center;
}
.aboutDiv .input-group {
  background-color: rgba(120, 120, 121, 0.2941176471);
  margin: 0 auto;
  margin-bottom: 2px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.aboutDiv .input-group .input-group-text {
  background-color: rgba(126, 126, 126, 0.2039215686);
  color: #1d1d1d;
  font-size: 0.9em;
}
.aboutDiv .input-group input, .aboutDiv .input-group span.input {
  background-color: rgba(138, 138, 138, 0.5137254902);
  color: #2e2e2e;
  font-size: 0.9em;
}
.aboutDiv .codingToolsDiv {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 80%;
  margin: 0 auto;
}
.aboutDiv .codingToolsDiv:after {
  content: "";
  flex: auto;
}
.aboutDiv .codingToolsDiv .codingTool {
  min-width: 80px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
  margin: 5px;
  font-size: 40px;
  border-radius: 3px;
}
.aboutDiv .codingToolsDiv .codingTool .codingToolName {
  font-size: 13px;
  padding: 0;
  margin: 0;
}
.aboutDiv .codingToolsDiv .codingTool:hover {
  background-color: rgba(247, 237, 225, 0.39);
  cursor: pointer;
  transform: scale(0.9);
  transition: all 250ms ease;
}
.aboutDiv .codingToolsDiv .codingTool:hover .codingToolName {
  color: #ffffff !important;
}
.aboutDiv .codingToolsDiv .codingTool:hover .codingIcons {
  color: #ffffff !important;
}
.aboutDiv .codingToolsDiv #iconpython {
  color: #009ADC;
}
.aboutDiv .codingToolsDiv #iconjs {
  color: #f1ee19;
}
.aboutDiv .codingToolsDiv #iconhtml {
  color: #ff822f;
}
.aboutDiv .codingToolsDiv #iconcss {
  color: #b159bd;
}
.aboutDiv .codingToolsDiv #iconcharts {
  color: #925268;
}
.aboutDiv .codingToolsDiv #icongit {
  color: #2fb3ff;
}
.aboutDiv .codingToolsDiv #iconsql {
  color: #2fffe3;
}
.aboutDiv .codingToolsDiv #icondocker {
  color: #ff7950;
}
.aboutDiv .codingToolsDiv #iconreact {
  color: #6f8ee6;
}
.aboutDiv .codingToolsDiv #iconbootstrap {
  color: #8d74b4;
}
.aboutDiv .codingToolsDiv #iconlinux {
  color: #1C89BB;
}